{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Map Master</title>
	<link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
	<script src="{% static 'js/OnClickButtons.js' %}"></script>
	<script
	  src="https://code.jquery.com/jquery-3.6.3.js"
	  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
	  crossorigin="anonymous">
	</script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU"></script>
<script>
    function init(){
      let map = new ymaps.Map('map', {
        center: [56.838011, 60.597474],
        zoom: 13
      });
	  map.controls.remove('geolocationControl'); // удаляем геолокацию
	  map.controls.remove('searchControl'); // удаляем поиск
	  map.controls.remove('trafficControl'); // удаляем контроль трафика
	  map.controls.remove('typeSelector'); // удаляем тип
	  map.controls.remove('fullscreenControl'); // удаляем кнопку перехода в полноэкранный режим
	  map.controls.remove('zoomControl'); // удаляем контрол зуммирования
	  map.controls.remove('rulerControl'); // удаляем контрол правил

		var link = "";
      window.selectChanged = function(theSelect) {
		  map.geoObjects.removeAll()
      	var selectedValue = theSelect.options[theSelect.selectedIndex].value.split('+');
		  link = selectedValue[0]
      	var x = parseFloat(selectedValue[3]);
      	var y = parseFloat(selectedValue[4]);

		map.setCenter([x,y]);
		//сюда любой html, css код сувать можно, работа фронта,
		var placemark = new ymaps.Placemark([x,y], {
			balloonContentHeader: selectedValue[2],
			balloonContentBody: selectedValue[1],
			balloonContentFooter : 'Подвал',
		}, {
			iconLayout: 'default#image',
			iconImageHref: 'https://cdn-icons-png.flaticon.com/512/9805/9805283.png',
			iconImageSize: [100, 100],
			iconImageOffset: [-19, -44]
		});
		map.geoObjects.add(placemark);
		document.getElementById('button-build').setAttribute("href", link)
      };

	  window.cityChanged = function (theSelect, context){
		  document.getElementById('button-build').setAttribute("href", "")
		  map.geoObjects.removeAll()
		  var selectedValue = theSelect.options[theSelect.selectedIndex].value;
		  if (selectedValue == '0')
		  {
			  var data = [
				{% for item in ekb  %}
				  "{{item.link}}+{{item.headline}}+{{item.description}}+{{item.xCoords}}+{{item.yCoords}}",
			  	{% endfor %}
			  ];
			  data.forEach(item => {
				  var divided = item.split('+')
				  var name = divided[1]
				  var description = divided[2]
				  var x = parseFloat(divided[3])
				  var y = parseFloat(divided[4])
				  var placemark = new ymaps.Placemark([x,y], {
					  balloonContentHeader: name,
					  balloonContentBody: description,
					  balloonContentFooter: divided[0]
				  }, {
					  iconLayout: 'default#image',
					  iconImageHref: 'https://cdn-icons-png.flaticon.com/512/9805/9805283.png',
					  iconImageSize: [100, 100],
					  iconImageOffset: [-19,-44]
				  });
				  map.geoObjects.add(placemark);
				  map.geoObjects.events.add('click', function (e){
					  var target = e.get('target');
					  link = target.properties.get('balloonContentFooter')
					  document.getElementById('button-build').setAttribute("href", target.properties.get('balloonContentFooter'))
				  })
			  })

		  }
		  else{
			  map.geoObjects.removeAll()
			  data = [
				{% for item in district  %}
				  "{{item.link}}+{{item.headline}}+{{item.description}}+{{item.xCoords}}+{{item.yCoords}}",
			  	{% endfor %}
			  ];
			  data.forEach(item => {
				  var divided = item.split('+')
				  var name = divided[1]
				  var description = divided[2]
				  var x = parseFloat(divided[3])
				  var y = parseFloat(divided[4])
				  var placemark = new ymaps.Placemark([x,y], {
					  balloonContentHeader: name,
					  balloonContentBody: description,
					  balloonContentFooter: divided[0]
				  }, {
					  iconLayout: 'default#image',
					  iconImageHref: 'https://cdn-icons-png.flaticon.com/512/9805/9805283.png',
					  iconImageSize: [100, 100],
					  iconImageOffset: [-19,-44]
				  });
				  map.geoObjects.add(placemark);
				  map.geoObjects.events.add('click', function (e){
					  var target = e.get('target');
					  document.getElementById('button-build').setAttribute("href", target.properties.get('balloonContentFooter'))
				  })
			  })
		  }
	  }

	  window.categoryChanged = function (theSelect){
			document.getElementById('button-build').setAttribute("href", "")
		  var selectedValue = theSelect.options[theSelect.selectedIndex].value;
		  if (selectedValue == '0') {
			  map.geoObjects.removeAll()
			  data = [
				{% for item in walk  %}
				  "{{item.link}}+{{item.headline}}+{{item.description}}+{{item.xCoords}}+{{item.yCoords}}",
			  	{% endfor %}
			  ];
			  data.forEach(item => {
				  var divided = item.split('+')
				  var name = divided[1]
				  var description = divided[2]
				  var x = parseFloat(divided[3])
				  var y = parseFloat(divided[4])
				  var placemark = new ymaps.Placemark([x,y], {
					  balloonContentHeader: name,
					  balloonContentBody: description,
					  balloonContentFooter: 'Подвал'
				  }, {
					  iconLayout: 'default#image',
					  iconImageHref: 'https://cdn-icons-png.flaticon.com/512/9805/9805283.png',
					  iconImageSize: [100, 100],
					  iconImageOffset: [-19,-44]
				  });
				  map.geoObjects.add(placemark);
				  map.geoObjects.events.add('click', function (e){
					  var target = e.get('target');
					  document.getElementById('button-build').setAttribute("href", target.properties.get('balloonContentFooter'))
				  })
			  })
		  }
		  else if (selectedValue == '1'){
				map.geoObjects.removeAll()
			  	data = [
					{% for item in car  %}
					  "{{item.link}}+{{item.headline}}+{{item.description}}+{{item.xCoords}}+{{item.yCoords}}",
					{% endfor %}
				  ];
				data.forEach(item => {
				  var divided = item.split('+')
				  var name = divided[1]
				  var description = divided[2]
				  var x = parseFloat(divided[3])
				  var y = parseFloat(divided[4])
				  var placemark = new ymaps.Placemark([x,y], {
					  balloonContentHeader: name,
					  balloonContentBody: description,
					  balloonContentFooter: 'Подвал'
				  }, {
					  iconLayout: 'default#image',
					  iconImageHref: 'https://cdn-icons-png.flaticon.com/512/9805/9805283.png',
					  iconImageSize: [100, 100],
					  iconImageOffset: [-19,-44]
				  });
				  map.geoObjects.add(placemark);
				  map.geoObjects.events.add('click', function (e){
					  var target = e.get('target');
					  document.getElementById('button-build').setAttribute("href", target.properties.get('balloonContentFooter'))
				  })
			  })
		  }
		  else{
				map.geoObjects.removeAll()
			  	data = [
					{% for item in publicT  %}
					  "{{item.link}}+{{item.headline}}+{{item.description}}+{{item.xCoords}}+{{item.yCoords}}",
					{% endfor %}
				  ];
				data.forEach(item => {
				  var divided = item.split('+')
				  var name = divided[1]
				  var description = divided[2]
				  var x = parseFloat(divided[3])
				  var y = parseFloat(divided[4])
				  var placemark = new ymaps.Placemark([x,y], {
					  balloonContentHeader: name,
					  balloonContentBody: description,
					  balloonContentFooter: 'Подвал'
				  }, {
					  iconLayout: 'default#image',
					  iconImageHref: 'https://cdn-icons-png.flaticon.com/512/9805/9805283.png',
					  iconImageSize: [100, 100],
					  iconImageOffset: [-19,-44]
				  });
				  map.geoObjects.add(placemark);
				  map.geoObjects.events.add('click', function (e){
					  var target = e.get('target');
					  document.getElementById('button-build').setAttribute("href", target.properties.get('balloonContentFooter'))
				  })
			  })
		  }
	  }
    }
    ymaps.ready(init);

  </script>
	<header class="header">
		<div class="wrapper">
			<div class="header_inner">
				<div class="header_logo">
					<img src="img/Logo.svg" alt="">
				</div>

				<nav class="nav">
					<a class="nav_link" href="#">КАРТА</a>
					<a class="nav_link" href="#">О НАС</a>
					<a class="nav_link" href="#">КОНТАКТЫ</a>
				</nav>
			</div>
		</div>
	</header>

	<div class="intro">
		<div class="wrapper">
			<h1 class="intro_title_1">
				MAP
			</h1>
			<h1 class="intro_title_2">
				MASTER
			</h1>
			<p class="intro-text">
				Погрузитесь в мир увлекательных путешествий с нашей инновационной интерактивной картой. Откройте для себя уникальные маршруты, познакомьтесь с местными обычаями и создайте свою историю на карте мира.
			</p>
		</div>
	</div>

	<div class="travel">
		<div class="wrapper">
			<h1 class="travel_title">
				ПУТЕШЕСТВИЕ
			</h1>
			<p class="travel_text_1">
				Путешествие  -  это ключ к новым эмоциям и впечатлениям! Отдохните от повседневной рутины, зарядитесь энергией и вдохновением, познавая мир. Откройте для себя новые вкусы, ароматы и звуки, станьте настоящим исследователем!
			</p>
			<p class="travel_text_2">
				У каждого маршрута есть описание, а удобный интерфейс карты поможет сделать Вашу поездку незабываемой. Доверьтесь нам и наслаждайтесь каждым моментом!
			</p>
		</div>
	</div>

	<div class="build">
		<div class="wrapper">
			<h1 class="build_title">
				ПОСТРОЙ СВОЙ </br>МАРШРУТ
			</h1>
			<div class="container">
				<div class="road-map" id="map"></div>
				<div class="vidg">
					<p class="name-vidg">Название объекта</p>
					<p class="inf-vidg">Информация</p>
					<img class="img-vidg">
				</div>

				<select id="button-category" class="button-category" onkeyup="this.onchange()" onchange="categoryChanged(this)">
						<div class="button-category-activ">
							<option selected disabled="true" class="category-activ-name">Категория Маршрута</option>
							<option value="2" class="on-car">На Автомобиле</option>
							<option value="0" class="pesh">Пеший</option>
							<option value="1" class="soctrans">На Общественном транспорте</option>
						</div>
					</select>

				<select id="city_selector" class="button-city"  onkeyup="this.onchange()" onchange="cityChanged(this);">
						<option selected disabled="true" class="city-activ-name">город и область</option>
						<option value="0" class="Ekb">Екатеринбург</option>
						<option value="1" class="Obl">Свердловская область</option>
					</select>

				<select id="selector" class="button-ready" onkeyup="this.onchange();"  onchange="selectChanged(this);">
						<option selected disabled="true" class="ready-activ-name">готовые маршруты</option>
						{% for result in data %}
						<option value="{{result.link}}+{{result.description}}+{{result.headline}}+{{result.xCoords}}+{{result.yCoords}}">{{result.headline}}</option>
						{% endfor %}
					</select>

				<a class="button-build" id="button-build">
					ПОСТРОИТЬ
				</a>
			</div>
		</div>
	</div>

	<div class="void">

	</div>

	<div class="contacts">
		<div class="wrapper">
			<h1 class="contacts_title">
				КОНТАКТЫ
			</h1>
			<p class="Tim"><b>Солдатов Тимофей</b> </br>тимлид</p>
			<p class="Alex"><b>Балабух Александр</b> </br>дизайнер</p>
			<p class="Vlad"><b>Чумейко Владислав</b> </br>fornt-end </br>разработчик</p>
			<p class="Maks"><b>Кедров Максим</b> </br>back-end </br>разработчик</p>
			<p class="nomer">89126649950</p>
			<p class="mail">mapmaster268@gmail.com</p>
		</div>
	</div>


</body>
</html>